//==================================================================
//===============================SPOILERS===========================
.spoilers {
	&__item {
	}
	&__control {
		width: 100%;
		position: relative;
		cursor: pointer;
	}
	&__control::-webkit-details-marker {
		display: none;
	}
	&__content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		will-change: max-height;
		box-sizing: content-box;
		transition: all 0.3s ease;
	}
	.spoiler--open &__content {
		opacity: 1;
	}
}
