// Color

$primary: #00a5e9;
$additional: #0ef;
//$bg-color-dark: #081c29;
//$bg-color-dark: #0e1829;
$bg-color-dark: #0f1727;
// $bg-color-light: #0d2d43;
$bg-color-light-1: #1c2531;
$bg-color-light-2: #2b374f;
$white: #ebecef;
$black: #111;

// Size
$container-width: 1320px;
